<launch>
    <param name="robot_description" command="xacro --inorder '$(find zad4)/urdf/joints_movable.urdf'"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-f base_link" required="true"/>
    <node name="clearServer" pkg="zad4" type="interpolate_one_dim.py" />
    <node name="InterServer" pkg="zad4" type="interpolate_clear.py" />
    <node name="jint" pkg="zad4" type="jint.py" />
</launch>
